<div class="alerts">
  <% if notice %>
    <div class="alert-info">::::<%= notice %>::::</div>
  <% end %>

  <% if alert %>
    <div class="alert-warning">!!!<%= alert %>!!!</div>
  <% end%>
</div>

