<h1><center><strong>Artists</strong></center></h1>
<hr>
<center><div class="container">
  <% @artists.each do |artist| %>
    <p class="btn"><%= link_to "#{artist.name}", artist_path(artist) %> </p>
  <% end %>
</div></center>