<h1><center><strong>Artists</strong></center></h1>


  <ul> Filter by Reviewer: </ul>
  <%= form_tag artists_path, method: 'get' do %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :email) %> 
    <%= submit_tag "filter" %>
  <% end %>

<br><br>

<% @artists.each do |artist| %>
  <p class="well"><%= link_to "#{artist.name}", artist_path(artist) %> </p>
<% end %>