<h1><strong><center>Welcome to Album Reviews!</center></strong></h1>
  <%= @albums.each do |album| %>
    <p><%= link_to "#{album.name}: #{album.artist.name}", album_path(album) %></p>
    <ul>by <%=  %></ul>
  <% end %>