<h1><strong><center>Welcome to Album Reviews!</center></strong></h1>

<p><%= link_to "Browse Reviews By Artist", artists_path %></p>
<p><%= link_to "Browse Reviews by User", users_path %></p>

  <% @albums.each do |album| %>
    <p><%= link_to "#{album.name} - #{album.artist.name}", album_path(album) %></p>
    <ul>by <%=  %></ul>
  <% end %>