<h1><strong><center>Welcome to Album Reviews!</center></strong></h1>
<% if !params[:artist_id] %>
<p><%= link_to "Browse by Artist", artists_path %></p>
<p><%= link_to "Browse by User", users_path %></p>
<% end %>
  <% @albums.each do |album| %>
    <p><%= link_to "#{album.name} - #{album.artist.name}", album_path(album) %></p>
    <ul>by <%= album.user.email %></ul>
  <% end %>