<strong><h2><center><%= @song.name %></center></h2></strong>


<h3>Peformed <strong><%= @song.playcount %></strong> 
  <% if @song.playcount == 1 %>
    Time:</h3>
  <% elsif @song.playcount == 0 %>
    Times.</h3>
  <% else %>
    Times:</h3>
  <% end %>


<% @song.shows.each do |show| %>
  <%= link_to "#{show.venue.name} - #{show.date}", show_path(show) %><br><br>
<% end %>



