<strong><h2><center><%= @song.name %></center></h2></strong>


<p>Peformed <strong><%= @song.playcount %></strong> 
  <% if @song.playcount == 1 %>
    Time:</p>
  <% elsif @song.playcount == 0 %>
    Times.</p>
  <% else %>
    Times:</p>
  <% end %>


<% @song.shows.each do |show| %>
  <%= link_to "#{show.venue.name} - #{show.date}", show_path(show) %>
<% end %>



