<h1><center><strong>Browse Reviews by User.</strong></center></h1>
<hr>
<div class="container">
  <% @users.each do |user| %>
    <%= link_to "#{user.email}", user_path(user) %><br />
  <% end %>
</div>