<%= form_for(@show) do |f| %>
  <p>Venue</p>
  <%= f.collection_check_boxes(:venue_id, Venue.all, :id, :name) do |b| %>
    <%= b.label do %>
      <%= b.check_box %>
    <% end %>
  <% end %>
<% end %>