<h2><center><%= @show.venue.name %> - <%= @show.date %></center></h2>

<h3><strong>Setlist:</strong></h3>

<h5><%= link_to "add to this show here", edit_show_path(@show)%></h5>

<p> <% @show.songs.each do |song| %>
  <li><%= link_to "#{song.name}", song_path(song) %></li><br>
  <% end %>
</p>